In [3]:
import pandas as pd

In [4]:
# load file
df = pd.read_csv('..\\Data\\MachineLearningRating_v3.txt', sep='|')
print(df.head()  )

C:\Users\hp\AppData\Local\Temp\ipykernel_9644\2633989368.py:2: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('..\\Data\\MachineLearningRating_v3.txt', sep='|')

   UnderwrittenCoverID  PolicyID     TransactionMonth  IsVATRegistered  \
0               145249     12827  2015-03-01 00:00:00             True
1               145249     12827  2015-05-01 00:00:00             True
2               145249     12827  2015-07-01 00:00:00             True
3               145255     12827  2015-05-01 00:00:00             True
4               145255     12827  2015-07-01 00:00:00             True

  Citizenship          LegalType Title Language                 Bank  \
0              Close Corporation    Mr  English  First National Bank
1              Close Corporation    Mr  English  First National Bank
2              Close Corporation    Mr  English  First National Bank
3              Close Corporation    Mr  English  First National Bank
4              Close Corporation    Mr  English  First National Bank

       AccountType  ...                    ExcessSelected CoverCategory  \
0  Current account  ...             Mobility - Windscreen    Windscreen
1  Current account  ...             Mobility - Windscreen    Windscreen
2  Current account  ...             Mobility - Windscreen    Windscreen
3  Current account  ...  Mobility - Metered Taxis - R2000    Own damage
4  Current account  ...  Mobility - Metered Taxis - R2000    Own damage

    CoverType            CoverGroup              Section  \
0  Windscreen  Comprehensive - Taxi  Motor Comprehensive
1  Windscreen  Comprehensive - Taxi  Motor Comprehensive
2  Windscreen  Comprehensive - Taxi  Motor Comprehensive
3  Own Damage  Comprehensive - Taxi  Motor Comprehensive
4  Own Damage  Comprehensive - Taxi  Motor Comprehensive

                           Product StatutoryClass StatutoryRiskType  \
0  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
1  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
2  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
3  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant
4  Mobility Metered Taxis: Monthly     Commercial     IFRS Constant

   TotalPremium TotalClaims
0     21.929825         0.0
1     21.929825         0.0
2      0.000000         0.0
3    512.848070         0.0
4      0.000000         0.0

[5 rows x 52 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 52 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      854137 non-null   object
 9   AccountType               959866 non-null   object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  CustomValueEstimate       220456 non-null   float64
 30  AlarmImmobiliser          1000098 non-null  object
 31  TrackingDevice            1000098 non-null  object
 32  CapitalOutstanding        1000096 non-null  object
 33  NewVehicle                846803 non-null   object
 34  WrittenOff                358197 non-null   object
 35  Rebuilt                   358197 non-null   object
 36  Converted                 358197 non-null   object
 37  CrossBorder               698 non-null      object
 38  NumberOfVehiclesInFleet   0 non-null        float64
 39  SumInsured                1000098 non-null  float64
 40  TermFrequency             1000098 non-null  object
 41  CalculatedPremiumPerTerm  1000098 non-null  float64
 42  ExcessSelected            1000098 non-null  object
 43  CoverCategory             1000098 non-null  object
 44  CoverType                 1000098 non-null  object
 45  CoverGroup                1000098 non-null  object
 46  Section                   1000098 non-null  object
 47  Product                   1000098 non-null  object
 48  StatutoryClass            1000098 non-null  object
 49  StatutoryRiskType         1000098 non-null  object
 50  TotalPremium              1000098 non-null  float64
 51  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(11), int64(4), object(36)
memory usage: 390.1+ MB

In [6]:
cols_with_null = df.columns[df.isnull().any()]
df_with_nulls = df[cols_with_null]
print("Columns with null values:")
print(cols_with_null)

Columns with null values:
Index(['Bank', 'AccountType', 'MaritalStatus', 'Gender', 'mmcode',
       'VehicleType', 'make', 'Model', 'Cylinders', 'cubiccapacity',
       'kilowatts', 'bodytype', 'NumberOfDoors', 'VehicleIntroDate',
       'CustomValueEstimate', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet'],
      dtype='object')

In [7]:
df_with_nulls.isnull().mean().sort_values(ascending=False)

NumberOfVehiclesInFleet    1.000000
CrossBorder                0.999302
CustomValueEstimate        0.779566
Converted                  0.641838
Rebuilt                    0.641838
WrittenOff                 0.641838
NewVehicle                 0.153280
Bank                       0.145947
AccountType                0.040228
Gender                     0.009535
MaritalStatus              0.008258
Cylinders                  0.000552
cubiccapacity              0.000552
kilowatts                  0.000552
NumberOfDoors              0.000552
VehicleIntroDate           0.000552
Model                      0.000552
make                       0.000552
VehicleType                0.000552
mmcode                     0.000552
bodytype                   0.000552
CapitalOutstanding         0.000002
dtype: float64

In [8]:
df.drop(columns=[
    'NumberOfVehiclesInFleet', 'CrossBorder', 'CustomValueEstimate',
    'Converted', 'Rebuilt', 'WrittenOff'
], inplace=True)

In [9]:
df['AccountType'].unique()

array(['Current account', 'Savings account', nan, 'Transmission account'],
      dtype=object)

In [10]:
df['NewVehicle'] = df['NewVehicle'].fillna('Unknown', inplace=True)
df['Bank'] = df['Bank'].fillna('Unknown')
df['AccountType'] = df['AccountType'].fillna(df['AccountType'].mode()[0])

C:\Users\hp\AppData\Local\Temp\ipykernel_9644\956357804.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['NewVehicle'] = df['NewVehicle'].fillna('Unknown', inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 46 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      1000098 non-null  object
 9   AccountType               1000098 non-null  object
 10  MaritalStatus             991839 non-null   object
 11  Gender                    990562 non-null   object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    999546 non-null   float64
 19  VehicleType               999546 non-null   object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      999546 non-null   object
 22  Model                     999546 non-null   object
 23  Cylinders                 999546 non-null   float64
 24  cubiccapacity             999546 non-null   float64
 25  kilowatts                 999546 non-null   float64
 26  bodytype                  999546 non-null   object
 27  NumberOfDoors             999546 non-null   float64
 28  VehicleIntroDate          999546 non-null   object
 29  AlarmImmobiliser          1000098 non-null  object
 30  TrackingDevice            1000098 non-null  object
 31  CapitalOutstanding        1000096 non-null  object
 32  NewVehicle                0 non-null        object
 33  SumInsured                1000098 non-null  float64
 34  TermFrequency             1000098 non-null  object
 35  CalculatedPremiumPerTerm  1000098 non-null  float64
 36  ExcessSelected            1000098 non-null  object
 37  CoverCategory             1000098 non-null  object
 38  CoverType                 1000098 non-null  object
 39  CoverGroup                1000098 non-null  object
 40  Section                   1000098 non-null  object
 41  Product                   1000098 non-null  object
 42  StatutoryClass            1000098 non-null  object
 43  StatutoryRiskType         1000098 non-null  object
 44  TotalPremium              1000098 non-null  float64
 45  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(9), int64(4), object(32)
memory usage: 344.3+ MB

In [12]:
cols_with_null = df.columns[df.isnull().any()]
df_with_nulls = df[cols_with_null]
print("Columns with null values:")
print(cols_with_null)

Columns with null values:
Index(['MaritalStatus', 'Gender', 'mmcode', 'VehicleType', 'make', 'Model',
       'Cylinders', 'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CapitalOutstanding', 'NewVehicle'],
      dtype='object')

In [13]:
cols_with_null = df.columns[df.isnull().any()]
null_percentages = df[cols_with_null].isnull().mean().sort_values(ascending=False) * 100

print("Percentage of null values in columns:")
print(null_percentages)

Percentage of null values in columns:
NewVehicle            100.000000
Gender                  0.953507
MaritalStatus           0.825819
mmcode                  0.055195
VehicleType             0.055195
make                    0.055195
Model                   0.055195
Cylinders               0.055195
cubiccapacity           0.055195
kilowatts               0.055195
bodytype                0.055195
NumberOfDoors           0.055195
VehicleIntroDate        0.055195
CapitalOutstanding      0.000200
dtype: float64

In [14]:
df.drop(columns=['NewVehicle'], inplace=True)

In [15]:
df['Gender'].unique()

array(['Not specified', 'Male', 'Female', nan], dtype=object)

In [16]:
df['Gender'] = df['Gender'].fillna('Not specified')
df['MaritalStatus'] = df['MaritalStatus'].fillna('Unknown')

In [17]:
df['CapitalOutstanding']

0          119300
1          119300
2          119300
3          119300
4          119300
            ...
1000093         0
1000094         0
1000095         0
1000096         0
1000097         0
Name: CapitalOutstanding, Length: 1000098, dtype: object

In [18]:
# Categorical
cat_cols = ['mmcode', 'VehicleType', 'make', 'Model', 'bodytype', 'CapitalOutstanding']
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [19]:
# Numerical
num_cols = ['Cylinders', 'cubiccapacity', 'kilowatts', 'NumberOfDoors']
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [20]:
# Date
df['VehicleIntroDate'] = df['VehicleIntroDate'].fillna(df['VehicleIntroDate'].mode()[0])

In [21]:
print("Remaining missing values:", df.isnull().sum().sum())

Remaining missing values: 0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000098 entries, 0 to 1000097
Data columns (total 45 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   UnderwrittenCoverID       1000098 non-null  int64
 1   PolicyID                  1000098 non-null  int64
 2   TransactionMonth          1000098 non-null  object
 3   IsVATRegistered           1000098 non-null  bool
 4   Citizenship               1000098 non-null  object
 5   LegalType                 1000098 non-null  object
 6   Title                     1000098 non-null  object
 7   Language                  1000098 non-null  object
 8   Bank                      1000098 non-null  object
 9   AccountType               1000098 non-null  object
 10  MaritalStatus             1000098 non-null  object
 11  Gender                    1000098 non-null  object
 12  Country                   1000098 non-null  object
 13  Province                  1000098 non-null  object
 14  PostalCode                1000098 non-null  int64
 15  MainCrestaZone            1000098 non-null  object
 16  SubCrestaZone             1000098 non-null  object
 17  ItemType                  1000098 non-null  object
 18  mmcode                    1000098 non-null  float64
 19  VehicleType               1000098 non-null  object
 20  RegistrationYear          1000098 non-null  int64
 21  make                      1000098 non-null  object
 22  Model                     1000098 non-null  object
 23  Cylinders                 1000098 non-null  float64
 24  cubiccapacity             1000098 non-null  float64
 25  kilowatts                 1000098 non-null  float64
 26  bodytype                  1000098 non-null  object
 27  NumberOfDoors             1000098 non-null  float64
 28  VehicleIntroDate          1000098 non-null  object
 29  AlarmImmobiliser          1000098 non-null  object
 30  TrackingDevice            1000098 non-null  object
 31  CapitalOutstanding        1000098 non-null  object
 32  SumInsured                1000098 non-null  float64
 33  TermFrequency             1000098 non-null  object
 34  CalculatedPremiumPerTerm  1000098 non-null  float64
 35  ExcessSelected            1000098 non-null  object
 36  CoverCategory             1000098 non-null  object
 37  CoverType                 1000098 non-null  object
 38  CoverGroup                1000098 non-null  object
 39  Section                   1000098 non-null  object
 40  Product                   1000098 non-null  object
 41  StatutoryClass            1000098 non-null  object
 42  StatutoryRiskType         1000098 non-null  object
 43  TotalPremium              1000098 non-null  float64
 44  TotalClaims               1000098 non-null  float64
dtypes: bool(1), float64(9), int64(4), object(31)
memory usage: 336.7+ MB

In [23]:
df.to_csv('..\\Data\\cleaned_df.csv', index=False)